/*all page*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*navigation bar*/
#header {
    overflow: hidden;
    background: whitesmoke;
}
#header .logo img {
    height: 80px;
    width: 80px;
}
/* #header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
} */
#header-nav {
    float: right;
}
#header-nav a {
    float: left;
    font-size: 25px;
    margin-left: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 25px;
}
#header-nav a:hover {
    color: dodgerblue;
    cursor: pointer;
}
#header-nav input {
    border: none;
    padding: 5px;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 5px;
    border-radius: 5px;
    margin-top: 25px;
    background: dodgerblue;
}
#header-nav input:hover {
    background-color: #4CAF50;
    transition: 0.1s ease-in;
    cursor: pointer;
}
@media screen and (max-width: 670px) {
    #header a {
        float: none;
        display: block;
        text-align: center;
    }
    #header-nav a,
    #header-nav input {
        float: none;
        display: block;
        width: auto;
        margin: 0 auto;
    }
    #header-nav {
        float: none;
    }
}
/*navigation bar*/
/*for login form*/
/* Full-width input fields */
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus
{
  background-color: lightgreen;
}
#booking_form input[type=text],
.loginform input[type=email],
.loginform input[type=password],
#booking_form input[type=date]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: dodgerblue;
}

.cancelbtn {
    background-color: #f44336;
    border-radius: 5px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.icon {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
}

span.psw a,
span.create a {
    text-decoration: none;
    color: red;
}

span.psw:hover,
span.create a:hover {
    text-decoration: underline;
    color: dodgerblue;
}

.loginform, #booking_form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background-color: rgb(0, 0, 0);*/
    background: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.loginform-content {
    background-color: wheat;
    margin: 5% auto 0 auto;
    border: 1px solid #888;
    width: 305px;
}
 #room_booking {
     margin: 5% auto 0 auto;
     border: 1px solid #888;
     width: 305px;
     background: whitesmoke;
 }
/*for login form*/

/* for signup form*/
#signup_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

#signupform {
    position: relative;
    margin: 8% auto 0 auto;
    height: 450px;
    width: 600px;
    background-color: white;
}

.left-box {
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    float: left;
}

#signupform h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.left-box input[type="text"],
.left-box input[type="password"],
.left-box input[type="email"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    background: transparent;
}

.left-box .submit {
    margin-bottom: 28px;
    width: 220px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.left-box .submit:hover {
    background-color: dodgerblue;
    transition: 0.2s ease-in;
}

.right-box {
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 450px;
    background: wheat;
    /* background-size: cover;
    background-position: center; */
    float: right;
}

.or {
    position: absolute;
    top: 225px;
    left: 290px;
    float: left;
    text-align: center;
}

.right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: black;
    text-align: center;
    font-weight: 300;
}

.closebutton {
    position: absolute;
    left: 570px;
    bottom: 410px;
    font-size: 35px;
    font-weight: bold;
}

.closebutton:hover {
    color: red;
    cursor: pointer;
}

button.social {
    margin-bottom: 20px;
    width: 220px;
    border: none;
    border-radius: 5px;
}

.facebook {
    background: #32508e;
}

.instagram {
    background: brown;
}

.google {
    background: dodgerblue;
}

button.social:hover {
    color: black;
    background: transparent;
    border: solid 1px dodgerblue;
}

@media screen and (max-width: 600px) {
    #signupform {
        width: 300px;
        height: 900px;
    }

    .left-box {
        width: 300px;
        float: none;
    }

    .right-box {
        margin-top: 30px;
        width: 300px;
        float: none;
    }

    .or {
        top: 420px;
        left: 140px;
    }

    #signupform h1 {
        font-size: 15px;
    }

    .closebutton {
        left: 270px;
        bottom: 870px;
    }
}

/*for signup form*/
/*footer */
#footer {
    background: black;
    color: whitesmoke;
    height: 40px;
    line-height: 40px;
    width: 100%;
    float: left;
}

#footer #footer_nav {
    float: left;
}

#footer #footer_nav ul {
    list-style: none;
}

#footer #footer_nav ul li {
    float: left;
    margin-right: 15px;
    font-size: 25px;
}

#footer #footer_nav ul li a {
    text-decoration: none;
    color: green;
}

#footer #footer_nav ul li a:hover {
    color: dodgerblue;
}

#footer #footer_content {
    float: right;
    font-size: 15px;
}

#footer_content span a {
    text-decoration: none;
    color: dodgerblue;
}

@media screen and (max-width: 610px) {
    #footer {
        width: 100%;
        height: 80px;
    }

    #footer_content {
        float: none;
    }

    #footer_nav {
        float: none;
    }

    #footer #footer_nav ul li {
        float: left;
        font-size: 25px;
    }
}


/*#footer {*/
/*    background: whitesmoke;*/
/*    color: black;*/
/*    height: 100px;*/
/*    width: 100%;*/
/*}*/
/*.foot{*/
/*    width: 50%;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*    float: left;*/
/*    background: red;*/
/*}*/
/*#footer_icon {*/
/*    width: 50%;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*}*/

/*!*#footer_icon h2{*!*/
/*!*    float: none;*!*/
/*!*    font-weight: normal;*!*/
/*!*    font-size: 20px;*!*/
/*!*}*!*/
/*#footer_icon img{*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    border-radius: 5px;*/
/*}*/
/*#footer_icon img:hover{*/
/*    transform: rotate(360deg);*/
/*    transition: 0.5s;*/
/*}*/
/*#footer #footer_nav #footer_nav_division {*/
/*    list-style: none;*/
/*}*/

/*#footer #footer_nav #footer_nav_division li {*/
/*    float: left;*/
/*    margin-right: 15px;*/
/*        font-size: 20px;*/
/*}*/

/*#footer #footer_nav #footer_nav_division li a {*/
/*    text-decoration: none;*/
/*    color: green;*/
/*}*/

/*#footer #footer_nav #footer_nav_division li a:hover {*/
/*    color: dodgerblue;*/
/*}*/

/*#footer #footer_content {*/
/*    float: left;*/
/*    line-height: 50px;*/
/*        font-size: 15px;*/
/*    text-align: center;*/
/*    height: 50px;*/
/*    width: 100%;*/
/*}*/
/*#footer_content span a {*/
/*    text-decoration: none;*/
/*    color: dodgerblue;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    #footer {*/
/*        width: 100%;*/
/*        height:150px;*/
/*    }*/

/*    #footer_content {*/
/*        height: 50px;*/
/*        float: left;*/
/*    }*/
/*    #footer_icon h2{*/
/*    margin-left:0;*/
/*}*/
/*    #footer_nav {*/
/*        width: 100%;*/
/*        height: 50px;*/
/*        float: left;*/
/*        text-align: center;*/
/*    }*/
/*    #footer_icon{*/
/*        width: 100%;*/
/*        height: 50px;*/
/*        float: right;*/
/*    }*/
/*    #footer #footer_nav #footer_nav_division li {*/
/*        float: left;*/
/*        font-size: 25px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1000px) {*/
/*    #footer {*/
/*        width: 100%;*/
/*        height:100px;*/
/*    }*/
/*    #footer_content {*/
/*        height: 50px;*/
/*        float: none;*/

/*    }*/
/*#footer #footer_division .f {*/
/*    width: 50%;*/
/*    height: 50px;*/
/*    float: left;*/
/*}*/
/*    #footer_nav {*/
/*        width: 50%;*/
/*        height: 50px;*/
/*        text-align: center;*/
/*    }*/
/*    #footer_icon{*/
/*        width: 50%;*/
/*        height: 50px;*/
/*        text-align: center;*/
/*    }*/

/*}*/
/*footer */

/*for index.html*/
#body_content {
    width: 100%;
    height: 600px;
}

.top_content {
    height: 200px;
}

/*#content_image {*/
/*    margin: 0 ;*/
/*    width: 100px;*/
/*    height: 60px;*/
/*}*/

.top_content h1 {
    font-family: cursive;
    font-size: xx-large;
}

.top_content p {
    font-family: cursive;
    font-size: x-large;
}

/*index.html*/

@media screen and (max-width: 1260px) {
    .room_downcontent {
        width: 100% !important;
    }

    .room_downcontent .room_description {
        width: 100% !important;
        float: left !important;
    }
    .room_downcontent .room_image {
        width: 100% !important;
        float: right !important;
    }
    #table_container{
        overflow: auto;
        margin:0;
        padding: 0;
        width: 100%;
    }
}
@media screen and (max-width: 600px){

    .customer_table, .room_table, .booking_table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 10px;
        margin:0;
    }
    #admin_content{
        width: 100%;
    }
    #sidebar{
        width: 20%;
    }
    #admin_body{
        width: 80%;
    }
    #gmap_canvas {
        height: 200px; /* The height is 400 pixels */
        width: 100%;
        border: 1px solid black;
        margin-bottom: 5px; /* The width is the width of the web page */
    }

    .mapouter {
        width: 200%;
    }
    /*.customer_table, .room_table, .booking_table {*/
    /*    border-collapse: collapse;*/
    /*    width: auto;*/
    /*    margin-top: 10px;*/
    /*    margin-right: auto;*/
    /*    margin-left: auto;*/
    /*}*/
    /*#table_container{*/
    /*    height: 200px;*/
    /*}*/
    #help {
        margin: 0;
        width: 100%;
        background: blue;
    }

    #room_image img {
        width: 100%;
        height: auto;
    }
    .about_content,#privacy_content {
    width: 90%;
    margin-left: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .customer_table, .room_table, .booking_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
}
/* about page */

.about_content,#privacy_content {
    width: 80%;
    margin-left: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about_content hr {
    width: 23%;
    background: black;
}

.about_content h1, #privacy_content h1 {
    font-size: 40px;
}

.about_content h1 sup {
    font-size: xx-small;
}

.about_content h1 span {
    color: dodgerblue;
}

.about_content p, #privacy_content p {
    margin-top: 10px;

}
/*about page*/
.mapouter {
    height: auto;
    width: 50%;
}

.gmap_canvas {
    overflow: hidden;
    height: auto;
    width: 100%;
}

#help {
    margin: 0 auto;
    background: red;
}

#help textarea, #help input[type='email'] {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    color: black;
}

/*for admin*/

#admin_content {
    width: 100%;
    height: 600px;
}

#sidebar {
    float: left;
    width: 10%;
    height: 100%;
    background: whitesmoke;
    margin: 0;
    padding: 0;
}

#sidebar h3 a {
    padding: 0;
    text-decoration: none;
    font-size: inherit;
}

#sidebar a, h3 {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: x-large;
}

#sidebar a:hover {
    color: dodgerblue;
}

#admin_body {
    float: left;
    width: 90%;
    height: 100%;
    background: wheat;
}

#searchbar_room, #searchbar_customer, #searchbar_booking {
    width: 25%;
    margin-top: 5px;
    margin-left: 35%;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: larger;
    height: 30px;
    float: left;
}

#prev {
    margin-left: auto;
    text-align: center;
    width: 1px;
    height: auto;
}

#next {
    margin-right: auto;
    float: right;
    text-align: center;
    width: 1px;
    height: auto;
}
@media screen and (max-width: 1340px){
    #sidebar{
        width: 100%!important;
        height: auto!important;
    }
    #sidebar a{
        padding: 10px;
        margin: 0;
        float: left!important;
    }
   #sidebar h3 a {
    width: 100%;
    padding: 0;
    text-decoration: none;
    font-size: inherit;
}
    #admin_body{
        width: 100%!important;
    }
}
/*#customer_search,*/
/*#room_search,*/
/*#booking_search {*/
/*    float: left;*/
/*    width: 5%;*/
/*    margin-top: 5px;*/
/*    height: 30px;*/
/*    padding: 0;*/
/*    margin-left: 5px;*/
/*}*/
#table_container{
    /*margin-top: 40px;*/
    margin-left: auto;
    overflow: auto;
    margin-right: auto;
    height: 500px;
}
.customer_table, .room_table, .booking_table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.table_head,
td {
    font-family: sans-serif;
    text-align: left;
    border: 0.1px solid white;
}

.table_head tr .imageholder {
    width: 25%;
    margin: 0;
    padding: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_head {
    background-color: #4CAF50;
    height: 30px;
    color: black;
    line-height: 30px;
    font-weight: bold;
}

.customer_table .table_head .adding_customer img,
.room_table .table_head .adding_room img,
.booking_table .table_head .adding_booking img,
.customer_table .Deleting_Customer img,
.customer_table .updating_customer img,
.room_table .Deleting_room img,
.room_table .updating_room img,
.booking_table .updating_customer_booking img,
.booking_table .deleting_Booking img {
    height: 25px;
    margin: 0;
    padding: 0;
    width: 25px;
}

.customer_table .adding_customer a img:hover,
.room_table .adding_room a img:hover,
.booking_table .adding_booking a img:hover {
    cursor: pointer;
}

.customer_table .Deleting_Customer,
.room_table .Deleting_room,
.booking_table .deleting_Booking {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*for room customer edit update and table*/
#customer_form, #room_form {
    width: 350px;
    height: 450px;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

#customer_form input[type=text],
#room_form input[type=text],
#customer_form input[type=email],
#customer_form input[type=password],
#room_form input[type=file],
#room_form select {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    color: black;
}

#room_form textarea {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 250px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;
    background: white;
    color: black;
}

#customer_form button,
#room_form button {
    display: block;
    box-sizing: border-box;
    width: 110px;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    background: dodgerblue;
    margin-top: 10px;
}

#customer_form button a,
#room_form button a {
    text-decoration: none;
    color: white;
    font-size: x-small;
    background: transparent;
}

#customer_form button:hover,
#room_form button:hover,
#customer_form button a:hover,
#room_form button a:hover {
    cursor: pointer;
    background: wheat;
    color: black;
}

#find_room {
    width: 100%;
}

#type_room {
    width: 25%;
    height: 40px;
    font-size: larger;
    margin-top: 5px;
    margin-left: 34%;
    border-radius: 5px;
    border: 1px solid black;
}

#find_your_room {
    width: 5%;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
}

#room_container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: whitesmoke;
}
.room_topcontent{
    width: 100%;
    height: auto;
}
.room_topcontent .top_right{
    float: right;
    width: 50%;
}
.room_topcontent .top_left{
    float: left;
    width: 50%;
}
.room_downcontent{
    height: auto;
    width: 100%;
    float: right;
}
.room_downcontent .room_description{
    width: 50%;
    float: left;
}
.room_downcontent .room_image{
    width: 50%;
    float: right;

}
/*.room_details{*/
/*    width:100%;*/
/*    background: blue;*/
/*}*/
/*#room_container #bookButton {*/
/*    width: 25%;*/
/*    background-color: dodgerblue;*/
/*    border-radius: 5px;*/
/*}*/

/*#room_container #bookButton:hover {*/
/*    background: wheat;*/
/*    color: black;*/
/*}*/
