{% extends 'pagelayout.html' %}
{% load static %}
{% block content %}
    <div class="about_content">
        <h1>
            About exploro.com <sup>TM</sup>
        </h1>
        <hr>
        <p>Founded in 2019 in Kathmandu, Booking.com has grown from start-up to one of the Nepal’s leading digital hotel room booking companies. Part of Booking Holdings Inc. (NASDAQ: BKNG), exploro.com’s mission is to make it easier for everyone to experience
            the online booking system throughout the Nepal. </p>
        <p>By investing in technology that takes the friction out of travel, exploro.com seamlessly connects thousands of visiters to memorable experiences, a variety of accommodation options, and incredible places to stay – from high himalayas to the lower valley in Terai region and much
            more. As one of the Nepal’s largest travel marketplaces for both established brands and entrepreneurs of all sizes, exploro.com enables properties around the country to reach a mass audience and grow their businesses. </p>
        <h1>
            What <span>exploro.com</span> Offers
        </h1>

        <h2>Incredible Selection</h2>
        <p>
            We provide the details of almost each and every hotels located in Kathmandu Valley with varities of ranges. Hotels are categorized according to their type so that the customer can easily distinguish between thier choices.
        </p>
        <h2>No Reservation Fees</h2>
        <p>We don't charge our customer any booking fees or add any administrative charges. And in most of the cases, customer are allowed to cancel bookings.</p>
        <h2>Low Rates</h2>
        <p>exploro.com guarantees to offer you the best available rates. And with our promise to price match, you can rest assured that you’re always getting a great deal.</p>
        <h1>Availability</h1>
        <p>We do not guarantee that our Platform will always be available, be uninterrupted, secure or free from bugs or viruses, nor that the Platform will be free from errors or omissions.
        We shall not be liable for any delay or failure to perform resulting from causes outside of our reasonable control, including,
        without limitation, any failure to perform due to unforeseen circumstances or cause beyond our control such as acts of god, war,
        terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, strikes, epidemic or other natural
        disaster, shortages of transportation facilities, fuel, energy, labor or materials or a failure of public or private
            telecommunications networks.</p>
    </div>
{% endblock %}
