{# admin page  #}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        exploro.com.np
    </title>
    <link rel="icon" href="{% static 'images/ICON_TITLE.jpg' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link rel="icon" href="images/ICON_TITLE.jpg">
    <link href={% static 'css/style.css' %} type="text/css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}" class="logo"><img src="{% static 'images/Logo.jpg' %}" title="exploro"></a>
        <div id="header-nav">
            <a href={% url 'index' %}>Home</a>
            <a href={% url 'room' %}>Rooms</a>
            <a href={% url 'about' %}>About</a>
            {# logout button for admin #}
            <a href="{% url 'logout' %}" style="float: none;margin: 0">
            <input type="submit" value="Logout"/></a>
        </div>
    </div>
    {# admin content goes here #}
    <div id="admin_content">
    {# admin page navigation bar #}
       <div id="sidebar">
           <h3 style="font-size: xx-large"><a href="{% url 'admin_page' %}">Records</a></h3>
          <a  class="customer" href="{% url 'customer_table' %}">Customer</a>
          <a class="room"href="{% url 'room_table' %}">Rooms</a>
          <a class="booking"href="{% url 'booking_table' %}">Bookings</a>
       </div>
        <div id="admin_body">
        {% block content %}
            {# for displaying all the records in total #}
            <div id="all_details" style="text-align: center;">
            {# customer details #}
            <h1>Total no of customers</h1>
            {% for customers in customers %}
            <h2>{{ customers.ID }}</h2>
            {% endfor %}
            {# room details #}
            <h1>Total no of Rooms registered</h1>
            {% for rooms in rooms %}
            <h2>{{ rooms.Room_ID }}</h2>
            {% endfor %}
            {# booking details #}
            <h1>Total no of Bookings Done</h1>
            {% for bookings in bookings %}
            <h2>{{ bookings.Booking_ID }}</h2>
            {% endfor %}
            </div>
        {% endblock %}
        </div>
    </div>
    {# footer for admin page #}
   <div id="footer">
    <div id="footer_nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
        </ul>
    </div>
    <div id="footer_content">
        <p>Copyright 2019, <span><a href="{% url 'index' %}">exploro</a></span> System. All Rights Reserved.</p>
    </div>
   </div>
    {# linking javascript file #}
    <script src="{% static 'js/main.js' %}">
    </script>
</body>
</html>