 {% extends "index.html" %}
{% load static %}
{% block content %}
    <div id="customerdetails">
    <h1>My Details</h1>
        <h2>Full Name</h2>
        <p>{{ customers.Fullname }}</p>
        <h2>Email Address</h2>
        <p>{{ customers.Email }}</p>
        <h2>Mobile Number</h2>
        <p>{{ customers.Mobile }}</p>
        <h2>Password</h2>
        <p>{{ customers.Password }}<p>
         <a style="background: dodgerblue;" href="/customer_edit/{{ customers.ID }}" class="updating_customer">Edit My Details</a>
     <form action="{% url 'customer_delete' customers.ID  %}" method="post" >
         {% csrf_token %}
         <button type="submit" class="Deleting_customer"style="width:auto;">Delete My Account</button>
     </form>
    </div>
{% endblock %}