{# customer table  #}
{% extends "admin.html" %}
{% load static %}
{% block content %}
    {# customer table starts from here #}
    <div id="table_container">
        {# defining all the data of customer that are to be visible by admin #}
        <table class="customer_table">
            <tr class="table_head">
                <td>ID</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Mobile</td>
            </tr>
            {# fetching all the required data of the customer from database to customer table #}
            {% for customer in customer_list %}
                <tr>
                    <td>{{ customer.ID }}</td>
                    <td>{{customer.Fullname}}</td>
                    <td>{{customer.Email}}</td>
                    <td>{{ customer.Mobile }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {# for pagination #}
    <form method="post" action="/adminpage/customer_record/">
        {% csrf_token %}
        {# previous button #}
        <button type="submit" name="prev" value="prev" id="prev" >&lt;</button>
        {# next button #}
        <button type="submit" name="next" value="next" id="next">&gt;</button>
    </form>
    {# customer table page ends here #}
{% endblock %}