{# privacy page  #}
{% extends 'pagelayout.html' %}
{% block content %}
    {# privacy page starts from here #}
    <div id="privacy_content">
     <h1>
         About <span style="color: dodgerblue">Privacy Policy</span>
     </h1>
    <p>
        Welcome to exploro.com! This Privacy Statement,
        together with our Terms Of Use, sets out the approach
        that we at exploro.com take with regards to the collection
        and handling of any identifiable information about you.
    </p>
    <p>
        We understand that providing information online involves a
        great deal of trust on your part. We take this trust very
        seriously and make it a high priority to ensure the security
        and confidentiality of the personal information you provide us
        when you visit our website or use our Services. Before providing
        us with your personal information, please read this Privacy Statement
        carefully to learn about our privacy practices.
    </p>
    <h1>
        When Does <span style="color: red">Privacy Statement Apply?</span>
    </h1>
    <p>
        This Privacy Statement applies to information about you
        as an identifiable person that exploro.com
        collects from, or about you. This Privacy Statement does not apply to
        anonymous data that cannot identify you in any way.
    </p>
    <p>
        This website may contain links to third-party websites.
        exploro.com is not responsible for the privacy practices or
        the content of these third-party websites. We recommend that
        you carefully read the privacy statements of such sites.
    </p>
    <h1>Marketing Preferences</h1>
    <p>
        You also have the right to ask us not to process your
        personal information for marketing purposes at any time.
        You can exercise this right by contacting us at any time.
        You can also opt out of receiving any non-essential emails,
        including marketing emails, by contacting us.
    </p>
    <h1>Advertising Preferences</h1>
    <p>
        You also have the right to ask us not to process your
        personal information for marketing purposes at any time.
        You can exercise this right by contacting us at any time.
        You can also opt out of receiving any non-essential emails,
        including marketing emails, by contacting us.
         You can exercise this right by contacting us at any time.
        You can also opt out of receiving any non-essential emails,
        including marketing emails, by contacting us.
    </p>
    </div>
    {# privacy page ends here #}
{% endblock %}