{# room insert page #}
{% extends 'Room_table.html' %}
{% load static %}
{% block content %}
    {# room insert page starts from here #}
    <h1 style="text-align: center;">Add a new Room</h1>
    {# form for filling the room details #}
    {# room form starts #}
    <form action="{% url 'room_insert' %}" method="post" enctype="multipart/form-data" id="room_form">
        {% csrf_token %}
        <label ><b>Room Image</b></label>{{ formr.Room_Image }}
        <label for="Room_Type"><b>Room Type</b></label>{{formr.Room_Type }}
        <label for="Room_Location"><b>Location</b></label>{{ formr.Location }}
        <label for="Room_Price"><b>Price</b></label>{{ formr.Price }}
        <label for="Room_Description"><b>Description</b></label>{{ formr.Description }}
        {# submit button #}
        <button type="submit" id="submitbutton">
            Submit</button>
        {# reset button #}
        <button type="reset" id="resetbutton">
            Reset</button>
        {# for going back to room table #}
        <button id="listButton" type="button"><a href="{% url 'room_table' %}">
            Back To Table
        </a></button>
    </form>
    {# room form ends #}
    {# room insert page ends here #}
{% endblock content %}



