{% extends 'pagelayout.html' %}
{% load static %}
{% block content %}
    <div id="find_room">
     <input type="text" id=type_room placeholder="Search Room By Type">
     <button id="find_your_room">Search</button>
    </div>
    <div id="room_container">
        {% for room in room_list %}
           <h1>{{ room.Room_Type }}</h1>
            <img src="{% static 'images/icons/location.png' %}" title="Location" style="height: 25px;width: 25px;">
            {{ room.Location }}
            <br>
            <p>
            <img src="{% static 'images/icons/price.png' %}" title="Price" style="height: 25px;width: 25px;">
            Rs.{{ room.Price }}</p>
            <br>
            <p style="float: left;width: 50%;">{{ room.Description }}</p>
            <br>
            <img src="{% static 'images/admin_images/room_images/' %}{{ room.Room_Image }}" width="50%" height="auto" style="border-radius: 5px;float: left;margin: 0;">
                 <button type="submit" id="bookButton" onclick=openBookingForm()>Book Now</button>
            <div id="booking_form">
                <form action="{% url 'bookinginsert' %}" method="POST" class="left-box" id="room_booking" onsubmit="{% static 'js/signup_validate.js' %}">
                    {% csrf_token %}
                    <h1>Sign Up</h1>
                    <input type="date" name="Date_of_Booking" placeholder="Date of Booking" value="{{ formb.Date_of_Booking }}" required>
                    <input type="text" name="No_of_Rooms_Booked" placeholder="No of Rooms Booked" value="{{ formb.No_of_Rooms_Booked }}" required>
                    <input type="text" name="Total_Price" placeholder="Total Price" value="{{ formb.Total_Price }}" required>
                    <button type="submit" class="submit">Done</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}
