{# room page #}
{% extends 'pagelayout.html' %}
{# for using static files like image for Room #}
{% load static %}
{% block content %}
    {# room page starts from here #}
    <h1 style="text-align: center;">Find Your Room Over Here!!</h1>
    {# displaying all the details of room that are recorded in the database #}
    <div id="room_container">
        {% for room in room_list %}
            <div class="room_topcontent">
                <div class="top_left">
                    <h1>{{ room.Room_Type }}</h1>
                    <img src="{% static 'images/icons/location.png' %}" title="Location" style="height: 25px;width: 25px;">
                {{ room.Location }}
                 <p>
                <img src="{% static 'images/icons/price.png' %}" title="Price" style="height: 25px;width: 25px;">
                Rs.{{ room.Price }}</p>
                </div>
                <div class="top_right">
                    {# for opening the booking form to book a room #}
                <button type="submit" id="bookButton" onclick="openBookingForm()" style="width: 150px; margin-left: auto;margin-right: auto;margin-top: 10%;">Book Now</button>
                </div>
            </div>
            <div class="room_downcontent">
                <div class="room_description">
                    <p style="overflow: auto;">{{ room.Description }}</p>
                </div>
                <div class="room_image">
                    <img src="{% static 'images/admin_images/room_images/' %}{{ room.Room_Image }}" width="100%" height="300px" style="border-radius: 5px;float: left;margin: 0;">
                </div>
            </div>
        {% endfor %}
        {# room details end here #}

        {# booking form code starts from here #}
        <div id="booking_form">
                <form action="{% url 'bookinginsert' %}" method="POST" id="room_booking">
                    {% csrf_token %}
                    <div class="imgcontainer">
                    <img src="{% static 'images/Logo.png' %}" alt="Avatar" class="icon">
                    <h1><span style="color:#4CAF50;">Book</span><span style="color: dodgerblue;"> A</span><span style="color: red;"> Room</span></h1>
                    </div>
                    <div class="container">
                     <label><b>Customer</b></label>
                    <input type="text" name="Customer" id="Customer_Email" placeholder="Customer " value="{{ formb.Customer }}" />
                    <label><b>Room</b></label>
                    <input type="text" name="Room" id="Type_of_Room" placeholder="Room" value="{{ formb.Room }}" />
                    <label><b>Rooms Booked</b></label>
                    <input type="text" name="No_of_Rooms_Booked"  id="No_of_Rooms_Booked" placeholder="No of Rooms Booked" value="{{ formb.No_of_Rooms_Booked }}" >
                    <label><b>Date of Booking</b></label>
                    <input type="date" name="Date_of_Booking" id="Date_of_Booking" placeholder="Date of Booking" value="{{ formb.Date_of_Booking }}" />
                    <button type="submit" class="submit">Book</button>
                    <button type="button" style="background: red;" onclick="document.getElementById('booking_form').style.display='none'">Cancel</button>
                    </div>
                </form>
            </div>
        {# booking form ends here #}
    </div>
    {# room page ends here #}
{% endblock %}
