{# room edit page  #}
{% extends 'Room_table.html' %}
{% load static %}
{% block content %}
    {# room edit page starts from here #}
    {# form to display the data of the selected room that is to be updated #}
    <form action="/adminpage/room_update/{{ room.Room_ID }}/" method="post" enctype="multipart/form-data"
          id="room_form">
        {% csrf_token %}
        {# image #}
        <label><b>Room Image</b></label>
        <img width="100px" src="{% static '/images/admin_images/room_images/' %}{{ room.Room_Image }}">
        <input type="file" name="Room_Image" value="{{ room.Room_Image }}">
        <label><b>Room Type</b></label>
        {# type of room #}
        <select id="roomtype" name="Room_Type">
            <option value="Single Room">Single Room</option>
            <option value="Double Room">Double Room</option>
            <option value="Double Double Room">Double Double Room</option>
             <option value="Twin Room">Twin Room</option>
            <option value="Interconnecting Rooms">Interconnecting Rooms</option>
            <option value="Adjoining Rooms">Adjoining Rooms</option>
             <option value="Duplex">Duplex</option>
            <option value="Cabana">Cabana</option>
            <option value="Studio Room">Studio Room</option>
             <option value="Parlor">Parlor</option>
            <option value="Lanai">Lanai</option>
            <option value="Efficiency Room">Efficiency Room</option>
            <option value="Hospitality Room">Hospitality Room</option>
            <option value="Suite Room">Suite Room</option>
            <option value="King Bedroom">King Bedroom</option>
            <option value="Queen Bedroom">Queen Room</option>
        </select>
        {# script for selecting the option for room type from combo box #}
        <script>
            $(document).ready(()=>{
                var selectedval="{{ room.Room_Type }}";
                for (var i=0;i<15;i++) {
                    console.log($("#roomtype").children()[i]);
                    var childtag = $("#roomtype").children()[i].innerText;
                    if(selectedval==childtag){
                        $($("#roomtype").children()[i]).attr('selected','selected');
                    }
                }
            })
        </script>
        {# location #}
        <label><b>Location</b></label><textarea name="Location" style="height: 60px;">{{ room.Location }} </textarea>
        {# price #}
        <label><b>Price</b></label><input name="Price" type="text" value={{ room.Price }}>
        {# description #}
        <label><b>Description</b></label><textarea name="Description" style="height: 100px;">{{ room.Description }} </textarea>
        {# submit button #}
        <button type="submit" id="submitbutton">
            Submit
        </button>
        {# reset button #}
        <button type="reset" id="resetbutton">
            Reset
        </button>
        {# button for redirecting back to room table #}
        <button id="listButton" type="button"><a href="{% url 'room_table' %}">
            Back To Table
        </a></button>
    </form>
    {# room edit page ends here #}
{% endblock content %}