{% extends "admin.html" %}
{% block content %}
    <input type="text" id=searchbar_room placeholder="Search Room By Price">
     <button id="room_search">Search</button>
<table class="room_table" style="overflow: paged-y">
    <thead class="table_head">
        <tr>
            <td>ID</td>
            <td class="imageholder">Image</td>
            <td>Room Type</td>
            <td>Location</td>
            <td>Price</td>
            <td>Description</td>
            <td class="adding_room">
                <a href="{% url 'room_insert' %}">
                     {% load static %}
                        <img src="{% static 'images/admin_images/Room.png' %}" title="Adding new Room">
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for room in room_list %}
            <tr>
                <td>{{ room.Room_ID}}</td>
               {% load static %}
                <td ><img height="100px" width="100%" src="{% static '/images/admin_images/room_images/' %}{{ room.Room_Image }}"></td>
                <td>{{room.Room_Type}}</td>
                <td>{{room.Location}}</td>
                <td>{{ room.Price}}</td>
                <td>{{ room.Description }}</td>
                <td>
                    <a href="{% url 'room_update' room.Room_ID %}" class="updating_room">
                        {% load static %}
                        <img src="{% static 'images/admin_images/Update.png' %}" title="Updating Room Details">
                    </a>
                    <form action="{% url 'room_delete' room.Room_ID  %}" method="post" >
                        {% csrf_token %}
                        <button type="submit" class="Deleting_room">
                            {% load static %}
                        <img src="{% static 'images/admin_images/Delete.png' %}" title="Deleting Room Details">
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{#<table class="booking_table">#}
{#    <thead class="table_head">#}
{#        <tr>#}
{#            <td>ID</td>#}
{#            <td>Full Name</td>#}
{#            <td>Email</td>#}
{#            <td>Password</td>#}
{#            <td>Mobile</td>#}
{#            <td class="adding_customer">#}
{#                <a href="{% url 'customer_insert' %}">#}
{#                     {% load static %}#}
{#                        <img src="{% static 'used_images/User.png' %}" title="Adding new Customer">#}
{#                </a>#}
{#            </td>#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for room in room_list %}#}
{#            <tr>#}
{#                <td>{{ customer.ID }}</td>#}
{#                <td>{{customer.Fullname}}</td>#}
{#                <td>{{customer.Email}}</td>#}
{#                <td>{{customer.Password}}</td>#}
{#                <td>{{ customer.Mobile }}</td>#}
{#                <td>#}
{#                    <a href="{% url 'customer_update' customer.ID %}" class="updating_customer">#}
{#                        {% load static %}#}
{#                        <img src="{% static 'used_images/Update.png' %}" title="Updating Customer Details">#}
{#                    </a>#}
{##}
{#                    <form action="{% url 'customer_delete' customer.ID %}" method="post" >#}
{#                        {% csrf_token %}#}
{#                        <button type="submit" class="Deleting_Customer">#}
{#                            {% load static %}#}
{#                        <img src="{% static 'used_images/Delete.png' %}" title="Deleting Customer">#}
{#                        </button>#}
{#                    </form>#}
{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{% endblock %}